<% provide(:title, "Password Forgotten") %>
<div class="container-fluid container-fill-height">
  <div class="container-content-middle">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "m-x-auto text-center app-login-form", role: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <a href="" class="app-brand m-b-md">
        <img src="/assets/fatcamp-logo.png" alt="brand">
  </a>

  <h3>Forgot your password?</h3>

  <div class="form-group m-b-md">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="m-b-lg">
    <%= f.submit "Send Password Instructions", class: "btn btn-primary" %>
  </div>

  <footer class="screen-login">
	<%= render "users/shared/links" %>
	</footer>

<% end %>

</div>
</div>
