        <li class="media list-group-item p-a">
          <a class="media-left" href="#">
            <% if post.user.profile.nil? %>
                <img class="media-object img-circle" src="/assets/generic.jpg">
              <% else %>
                <%= image_tag post.user.profile.url, class: "media-object img-circle" %>
            <% end %>
          </a>
          <div class="media-body">
            <div class="media-heading">
              <small class="pull-right text-muted">8 sec<%# distance_of_time_in_words(Time.now, post.created_at, include_seconds: true) %> </small>
              <h5><%= post.author %></h5>
            </div>

            <p><%= post.content %></p>

            <div class="media-body-inline-grid" data-grid="images">
              <div style="display: none">
                <img data-action="zoom" data-width="280" data-height="280" src="/assets/nate.jpg">
              </div>

            </div>

            <ul class="media-list m-b">
              
              <% unless post.comments.count == 0%>
                <% render post.comments %>
              <% end %>

            </ul>
            <p><%= form_for([post, post.comments.build]) do |f| %>
            <a href="">leave comment <span class="icon icon-triangle-down"></span></a></p>
            <div class="panel panel-default m-b-md">
              <div class="panel-body">
              <ul class="media-list media-list-stream">
                <li class="media">
                  <div class="input-group">
                    <%= f.text_field :content, class: "form-control", placeholder: "Comment..." %>
                    <input type="text" class="form-control" placeholder="Comment...">
                    <span class="input-group-btn">
                      <!-- FORM BUTTON --><button class="btn btn-default" type="button"><span class="icon icon-images"></span></button>
                      <button class="btn btn-default" type="button">Post</button>
                    </span>
                    <% end %>
                  </div><!-- /input-group -->
                </li>
              </ul>
              </div>
            </div>

          </div>
        </li>
